{% extends "base.html" %}
{% load static %}
{% block content %}


    
<div class="s-table">
    <table border="3">
    <tr class="s-row1">
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Emailid</th>
        <th>Class</th>
        <th>Class-teacher</th>
        <th>Action</th>

    </tr>
    {% for u_object,stu_object in combined_objects%}
  
    <tr class="s-row2">
        <td>{{u_object.id}}</td>
        <td>{{u_object.first_name}}</td>
        <td>{{u_object.last_name}}</td>
        <td>{{u_object.email}}</td>
        <td>{{stu_object.classno}}</td>
        <td>{{stu_object.cteacher}}</td>
          <td>&nbsp;<button type="button" class="btns"><a href="{% url 'editfrom' u_object.id %}" style="text-decoration: none; color:rgb(134, 138, 136)">Update</a></button>&nbsp;<br>
            <button type="button" class="btnr"><a href="{% url 'delete' u_object.id %}" style="text-decoration: none; color:rgb(134, 138, 136)">delete</a></button></td>
    </tr>

    {% endfor %}
    

    </table>
</div>


{% endblock content%}